.el-message-box {
  width: 367px;
  height: 202px;
  border-radius: 10px;
  padding: 0;

  .el-message-box__header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 15px;
  }

  .el-message-box__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    color: #333333;
    padding: 0 30px;
  }

  .el-message-box__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 62px;
    padding: 0;

    button {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 80px;
      height: 32px;
      border-radius: 4px;
      font-size: 12px;
    }
  }
}